:root {
  --tg-theme-bg-color: #18222d;
  --tg-theme-text-color: #ffffff;
  --tg-theme-button-color: #5288c1;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-hint-color: #708499;
  --tg-theme-secondary-bg-color: #212d3b;
}